@font-face{
    font-family: "Gilroy - Extra Bold";
    font-style: normal;
    font-weight: 400;
    src:local('Gilroyextrabold'),local('Gilroy-Extrabold'),
        url('../fonts/Gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
}
@font-face{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src:local('gilroylight'),local('gilroy'),
        url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
}
*, *::after, *::before{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
body a{
    color: #000000;
    text-decoration: none;
}
.container{
    position: relative;
    width: 1160px;
    margin: 0 auto;
}
header{
    position: relative;
    min-height: 299px;
    background-color: rgba(240,197,46,0.5);
    padding: 33px 61px 63px 60px;
}
header.container{
    margin-top: 40px;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.top-nav a{
    position: relative;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.top-nav input{
    border: none;
    background-color: transparent;
    opacity: 0.5;
    font:inherit;
}
form{
    position: relative;
}
form::before{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    content: "";
    width: 16px;
    height: 16px;
    background: url('../img/search.svg') no-repeat;
}
.logo-top{
    position: absolute;
    top: -18px;
    left: 60px;
    width: 163px;
    height: 35px;
}
.main-nav ul{
    display: flex;
    justify-content: space-between;
    list-style:none;
}
.main-nav a{
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.right-container{
    min-width: 473px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.compare::before{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:-20px;
    content:"";
    width: 10px;
    height: 10px;
    background: url('../img/compare.svg') no-repeat;
}
.cart::before{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:-24px;
    content:"";
    width: 12px;
    height: 12px;
    background: url('../img/cart.svg') no-repeat;
}
.user::before{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:-27px;
    content:"";
    width: 13px;
    height: 12px;
    background: url('../img/user.svg') no-repeat;
}
.catalog-menu{
    min-width: 470px;
}
.slide-number{
    position: absolute;
    right:5px;
    top:-13px;
    width: 166px;
    height: 131px;
    color: #ffffff;
    font-family: "Gilroy - Extra Bold";
    font-size: 179px;
    font-weight: 400;
    line-height: 179.2px;
    letter-spacing: 0.36px;
}
.decor-2{
    position: absolute;
    width: 100px;
    height: 7px;
    background-color: #fff;
    top: 225px;
    right: 460px;
}

/* Главный блок main */
.slider-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -111px;
    width: 1010px;
    min-height: 486px;
    margin-left: 90px;
}
.slider-image{
    flex-basis: 384px;
    flex-shrink: 0;
}
.slider-content{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-left: 110px;
    padding-top: 80px;
}
.slider-slogan{
    font-family: "Gilroy - Extra Bold";
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.67px;
    margin-bottom: 18px;
}
.slider-description{
    letter-spacing: 0.15px;
    line-height: 30px;
    font-weight: 300;
    padding-right: 20px;
    padding-bottom: 51px;
}
.slider-buttons{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    padding-right: 23px;
    margin-bottom: 61px;
}
.slider-details{
    background:linear-gradient(to bottom,#fff 8px, #f0c52e 8px, #f0c52e 16px, #fff 16px);
    padding-left: 44px;
    padding-right: 43px;
    letter-spacing: 3.65px;
}
.slider-indicators{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    min-width: 78px;
}
.slider-indicators li{
    position: relative;
    width: 12px;
    height: 12px;
    border:1px solid #000000;
    border-radius:50%;
}
.slider-indicators li.selected::before{
    content:"";
    position: absolute;
    width: 4px;
    height: 4px;
    border:1px solid #000000;
    border-radius:50%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.slider-characters{
    display: flex;
}
.slider-characters div:not(:last-child){
    margin-right: 80px;
}
.length p:first-of-type,
.weight p:first-of-type,
.material p:first-of-type{
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.36px;
    font-size: 36px;
    margin-bottom: 10px;
}
.length p:last-of-type,
.weight p:last-of-type,
.material p:last-of-type{
    color: #464646;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
}














.hidden{
    display: none;
}