@font-face{
    font-family: "Gilroy - Extra Bold";
    font-style: normal;
    font-weight: 400;
    src:local('Gilroyextrabold'),local('Gilroy-Extrabold'),
        url('../fonts/Gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
}
@font-face{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src:local('gilroylight'),local('gilroy'),
        url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
}
@keyframes modal-error{
    20%{top:52%}
    50%{top:50%}
    50%{top:48%}
    100%{top:50%}
}
@keyframes appearance{
    from{top:-10%}
    to{top:50%}
}
*, *::after, *::before{
    box-sizing: border-box;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
body{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
body a{
    color: #000000;
    text-decoration: none;
}
.container,
.service-wrapper{
    position: relative;
    width: 1160px;
    margin: 0 auto;
}
header.container{
    position: relative;
    min-height: 299px;
    background-color: #f7e296;
    padding: 33px 61px 63px 60px;
    margin-top: 40px;
}
header.container--catalog{
    min-height:185px;
    padding-bottom: 41px;
    margin-bottom: 38px;
}
.top-nav{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 38px;
    margin-bottom: 30px;
}
.top-nav .tools{
    display: flex;
    justify-content: space-between;
    min-width: 192px;
}
.top-nav a{
    position: relative;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.top-nav input{
    border: none;
    background-color: transparent;
    color: #000000;
    font-weight: 300;
    line-height: 30px;
    font:inherit;
}
.top-nav input::placeholder{
    opacity: 0.3;
}
.top-nav input:hover::placeholder{
    opacity: 0.6;
}
.search-block{
    position: relative;
    margin-right: 268px;
}
.search-block::before{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    content: "";
    width: 16px;
    height: 16px;
    background: url('../img/search.svg') no-repeat;
    left: -35px;
}
.search-button{
    position: absolute;
    left: 316px;
    top: -14px;
    padding: 13px 18px;
    background-color: transparent;
    border: 2px solid #000000;
    opacity: 0;
}
.search-button:focus{
    opacity: 1;
}
.search-button::before{
    content:"";
    left: -358px;
    bottom: -2px;
    position: absolute;
    width: 356px;
    height: 2px;
    background-color: #000000;
}
.search-block input:focus ~ .search-button{
    opacity: 1;
}
.logo-top{
    position: absolute;
    top: -18px;
    left: 60px;
    width: 163px;
    height: 35px;
}
.main-nav{
    display: flex;
    justify-content: space-between;
}
.main-nav .conditions{
    display: flex;
    justify-content: space-between;
    width: 273px;
}
.main-nav a{
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.compare-header::before{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:-20px;
    content:"";
    width: 10px;
    height: 10px;
    background: url('../img/compare.svg') no-repeat;
}
.cart-header::before{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:-24px;
    content:"";
    width: 12px;
    height: 12px;
    background: url('../img/cart.svg') no-repeat;
}
.user-header::before{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:-27px;
    content:"";
    width: 13px;
    height: 12px;
    background: url('../img/user.svg') no-repeat;
}
.login-header .user-header{
    margin-right: 15px;
}
.login-footer{
    display: flex;
    margin-right: 42px;
}
.login-footer .footer-user{
    margin-right: 20px;
}
.main-menu{
    min-width: 430px;
    position: relative;
}
.main-menu::after{
    content:"";
    position: absolute;
    width: 16px;
    height: 16px;
    background:url("../img/plus.svg") no-repeat;
    opacity: 0.3;
    top: 50%;
    left: 230px;
    transform:translateY(-50%);
}
.catalog-menu{
    display: flex;
}
.catalog-nav{
    display: flex;
    position: absolute;
    background-color: #f7e296;
    width: 100%;
    padding-left: 60px;
    padding-bottom: 25px;
    padding-top: 30px;
    left: 0;
    z-index: 2;
}
.catalog-nav a{
    display: block;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #000000;
}
.catalog-nav a:hover,
.main-nav a:hover,
.top-nav a:hover{
    opacity: 0.6;
}
.catalog-nav a:active,
.main-nav a:active,
.top-nav a:active{
    opacity: 0.3;
}
.top-nav a.logout,
.login-footer a.logout{
    opacity: 0.3;
}
.top-nav a.logout:hover,
.login-footer a.logout:hover{
    opacity: 0.6;
}
.first-column{
    margin-right: 58px;
}
.second-column{
    margin-right: 77px;
}
.slide-number{
    position: absolute;
    right: 75px;
    top: -130px;
    width: 166px;
    height: 131px;
    color: #ffffff;
    font-family: "Gilroy - Extra Bold";
    font-size: 179px;
    font-weight: 400;
    line-height: 179.2px;
    letter-spacing: 0.36px;
}
.decor-2{
    position: absolute;
    width: 100px;
    height: 7px;
    background-color: #fff;
    top: 225px;
    right: 460px;
}

/* Главный блок main */
.slides-wrapper{
    position: relative;
    min-height: 480px;
}
.slider-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: -111px;
    z-index: 1;
}
.slider-image{
    line-height: 0;
    flex-shrink: 0;
}
.image-1{
    flex-basis: 384px;
    margin-left: 90px;
    margin-right: 125px;
}
.image-2{
    flex-basis: 345px;
    margin-left: 116px;
    margin-right: 138px;
}
.image-3{
    flex-basis: 526px;
}
.slider-content{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.content-1{
    margin-right: 65px;
}
.content-2{
    margin-right: 54px;
}
.content-3{
    margin-right: 53px;
}
.slider-slogan{
    font-family: "Gilroy - Extra Bold";
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.67px;
    margin-bottom: 18px;
}
.slider-description{
    letter-spacing: 0.15px;
    line-height: 30px;
    font-weight: 300;
    padding-right: 10px;
    padding-bottom: 43px;
}
.slider-buttons{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    padding-right: 18px;
    margin-bottom: 53px;
}
.slider-details{
    background:linear-gradient(to bottom,transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    padding:8px 43px 8px 44px;
    letter-spacing: 3.65px;
}
.slider-details:hover{
    background-color: #f0c52e;
}
.slider-details:active{
    color:rgba(0,0,0,0.3);
}
.slider-indicators{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    min-width: 78px;
}
.slider-indicators li{
    width: 12px;
    height: 12px;
}
.slider-indicators label{
    position: relative;
}
.slider-indicators label::before{
    position: absolute;
    content:"";
    width: 12px;
    height: 12px;
    background:url("../img/slider-button-empty.svg") no-repeat;
    background-size: contain;
}
.slider-indicators input:checked + label::before{
    background:url("../img/slider-button.svg") no-repeat;
    background-size: contain;
}
.slider-characters{
    display: flex;
}
.slider-characters div:not(:last-child){
    margin-right: 80px;
}
.length p:first-of-type,
.weight p:first-of-type,
.material p:first-of-type{
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.36px;
    font-size: 36px;
    margin-bottom: 10px;
}
.length p:last-of-type,
.weight p:last-of-type,
.material p:last-of-type{
    color: #464646;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
}
/* популярные продукты */
.popular-products{
    display: flex;
    justify-content: space-between;
    margin-bottom: 162px;
}
.popular{
    width: 160px;
}
.popular-image{
    display: flex;
    width: 160px;
    height: 160px;
    background-color: rgba(240,197,46,0.5);
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.popular-image.monopod{
    padding-top: 43px;
}
a.popular:hover .popular-image{
    background-color: rgba(240,197,46);
}
a.popular:active img, a.popular:active .popular-title{
    opacity: 0.3;
}
.popular-title{
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
}
/* слайдер сервисы */
.services{
    position: relative;
    background: linear-gradient(to bottom, #fff 20px,#e5e5e5 20px);
    min-height: 308px;
    margin-bottom: 95px;
}
.service-menu{
    position: relative;
    max-width: 284px;
}
.service-menu a{
    display: block;
    position: relative;
    font-size: 18px;
    font-family: "Gilroy - Extra Bold";
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3.65px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.service-menu a.active{
    background-color: #000000;
    color: #f7e184;
    padding-left: 20px;
}
.service-menu::after{
    content:"";
    top:-80px;
    right: 0;
    position: absolute;
    width: 7px;
    height: 319px;
    background-color: #000000;
}
.service-menu a:not(.active){
    width: 160px;
    text-align: center;
    background:linear-gradient(to bottom,transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}
.service-menu a:not(.active):hover{
    background-color: #f0c52e;
}
.service-menu a:not(.active):active{
    background:none;
    background-color: #000000;
    width: 100%;
    color: #f7e184;
    padding-left: 20px;
    text-align: left;
}
.service-conditions{
    position: absolute;
    background-color: transparent;
    width: 557px;
    left: 400px;
    top:-8px;
}
.service-conditions h2{
    font-family: "Gilroy - Extra Bold";
    font-size: 47px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 1.01px;
    margin: 0;
    margin-bottom: 32px;
}
.service-conditions p{
    color: #464646;
    font-weight: 300;
    font-family: "Open Sans";
    line-height: 30px;
    letter-spacing: 0.20px;
    padding-right: 130px;
    margin: 0;
}
.service-conditions::after{
    position: absolute;
    content: "";
    top:12px;
    right: -137px;
}
.service-conditions.delivery::after{
    width: 136px;
    height: 164px;
    background: url("../img/delivery.svg") no-repeat;
}
.service-conditions.warranty::after{
    width: 171px;
    height: 194px;
    background: url("../img/warranty.svg") no-repeat;
}
.service-conditions.credit::after{
    width: 156px;
    height: 186px;
    background: url("../img/credit.svg") no-repeat;
}

/* логотипы производителей */
.producers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 145px;
}
.producers a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 100px;
    filter:grayscale(1);
    opacity: 0.2;
}
.producers a:hover{
    filter:grayscale(0);
    opacity: 1;
}
/* инфоблок */
.info-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px;
}
.info-block section{
    width: 50%;
}
.info-block h2{
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 47px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.21px;
    margin: 0;
    margin-bottom: 42px;
}
.info-block p{
    color: #464646;
    font-family: "Open Sans Light";
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
    letter-spacing: 0.05px;
}
.info-block ul{
    margin: 0;
    padding: 0;
    margin-top: 67px;
    margin-left: 35px;
    margin-bottom: 55px;
    font-family: "Gilroy - Extra Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    letter-spacing: 0.15px;
}
.info-block li{
    position: relative;
}
.info-block li::before{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: -35px;
    content: "";
    width: 7px;
    height: 7px;
    border:1px solid #e5e5e5;
    border-radius: 50%;
}
.aboutus{
    position: relative;
    margin-right: 40px;
}
.aboutus::before,
.contacts::before{
    position: absolute;
    top: -52px;
    content: "";
    width: 80px;
    height: 7px;
    background-color: #000000;
}
.contacts{
    position: relative;
}
.contacts .map{
    display: block;
    margin-top: 40px;
    width: 560px;
    height: 222px;
    margin-bottom: 69px;
}
.button{
    width: 260px;
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.70px;
    background:linear-gradient(to bottom,transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    text-align: center;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.button--show{
    width: 200px;
}
.button--absolute{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    top:170px;
}
.button-bookmark--absolute{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    top:210px;
}
.button-bookmark{
    font-family: "Open Sans";
    color: #000000;
    font-size: 13px;
    opacity: 0.5;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.13px;
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.button-bookmark:hover{
    opacity: 1;
}
.button-bookmark:active{
    opacity: 0.2;
    outline: none;
}
.aboutus a{
    display: block;
    width: 260px;
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.70px;
    background:linear-gradient(to bottom,transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    text-align: center;
    padding-left: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.aboutus a:hover{
    background-color: #f0c52e;
}
.button:hover{
    background-color: #f0c52e;
}
.aboutus a:active,
.button:active{
    color:rgba(0,0,0,0.3);
}



/* футер */
.footer{
    background-color: #464646;
    min-height: 323px;
    padding-top: 52px;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}
.left-block{
    margin-top: 13px;
}
.left-block svg{
    width: 163px;
    height: 35px;
    fill:#ffc600;
    margin-bottom: 27px;
}
.left-block p{
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 77px;
}
.left-block span{
    display: block;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
}
.left-block a:hover,
.footer-menu a:hover{
    opacity: 0.6;
}
.left-block a:active,
.footer-menu a:active{
    opacity: 0.3;
}
.first-row{
    display: flex;
    justify-content: flex-end;
}
.second-row{
    display: flex;
    justify-content: space-between;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-menu a{
    margin-right: 33px;
    font-family: "Gilroy - Extra Bold";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.footer-user{
    margin-right: 42px;
}
.footer-compare{
    margin-right: 41px;
}
.footer-user svg{
    margin-right: 14px;
}
.footer-compare svg{
    margin-right: 10px;
}
.footer-cart svg{
    margin-right: 10px;
}
.first-row{
    margin-bottom: 26px;
}
.first-row a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color:rgba(255,255,255,0.7);
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    opacity: 0.7;
}
.first-row a:hover{
    opacity: 1;
}
.first-row a:active{
    opacity: 0.3;
}
.first-row svg{
    fill:#ffc600;
}
.second-row{
    margin-bottom: 62px;
}
.second-row > a{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 167px;
}
.third-row{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    align-items: center;
}
.social a{
    margin-right: 23px;
    opacity: 0.3;
    width: 32px;
    height: 32px;
}
.social a:hover{
    opacity: 0.6;
}
.social a:active{
    opacity: 0.1;
}



/* мэйн каталога товаров */

h1.catalog-title{
    margin: 0;
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 47px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.70px;
    margin-left: 61px;
    margin-bottom: 25px;
}
.catalog-breadcrumbs{
    display: flex;
    margin-left: 61px;
}
.catalog-breadcrumbs a{
    position: relative;
    color: rgba(0,0,0,0.3);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.24px;
    margin-right: 35px;
    margin-bottom: 45px;
}
.catalog-breadcrumbs a:hover{
    color: rgba(0,0,0,0.6);
}
.catalog-breadcrumbs a:active{
    color: rgba(0,0,0,0.1);
}
.catalog-breadcrumbs a:not(:last-of-type)::after{
    position: absolute;
    content: "";
    width: 4px;
    height: 7px;
    background: url("../img/nav-arrow.svg");
    top:50%;
    transform:translateY(-50%);
    right: -15px;
}
.left-background{
    width:calc(50% - 580px);
    background: linear-gradient(to bottom, #dbdbdb 70px,#efefef 70px);
}
.right-background{
    width:calc(50% - 580px);
    height: 70px;
    background-color: #ebebeb;
}
.catalog-wrapper{
    position: relative;
    display: flex;
}
.filter{
    width: 328px;
    background-color: #efefef;
}
.catalog{
    width: 832px;
}
.catalog__sort{
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    margin-bottom: 69px;
    padding-left: 72px;
}
.sort{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
}
.sort__title{
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.91px;
    margin-right: 50px;
}
.sort__type{
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
    margin-right: 30px;
}
.sort__type:not(.sort__type--active):hover{
    opacity: 0.6;
}
.sort__type:not(.sort__type--active):active{
    opacity: 1;
}
.sort__type--active{
    opacity: 1;
}
.sort-buttons{
    display: flex;
    width: 41px;
    justify-content: space-between;
    margin-left: auto;
}
.sort-button{
    opacity: 0.2;
}
.sort-button:not(.sort-button--active):hover{
    opacity: 0.4;
}
.sort-button:not(.sort-button--active):active{
    opacity: 1;
}
.sort-button--up{
    transform:rotate(180deg);
}
.sort-button--active{
    opacity: 1;
}
.catalog__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 72px;
}
.catalog__items .item{
    width: 360px;
}
.item{
    margin-bottom: 46px;
}
.item__image{
    position: relative;
    width: 360px;
    height: 380px;
    margin-bottom: 32px;
}
.item .title{
    display: flex;
    justify-content: space-between;
}
.item-buttons{
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    opacity: 0;
}
.item-buttons:focus-within{
    opacity: 1;
}
.item__image:hover .item-buttons{
    opacity: 1;
}
.title__name{
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20px;
    padding-right: 10px;
}
.title__price{
    color: #464646;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.16px;
    min-width: 78px;
}
.pagination{
    display: flex;
    justify-content: space-between;
    background-color: #efefef;
    width: 760px;
    margin-top: -10px;
    margin-bottom: 77px;
    margin-left: 72px;
}
.pagination__back,
.pagination__forward{
    padding-top: 24px;
    padding-bottom: 22px;
    padding-left: 30px;
    padding-right: 26px;
}
.pagination a{
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.91px;
}
.pagination__pages a:not(.active){
    opacity: 0.3;
}
.pagination__pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination__pages a:not(:last-of-type){
    margin-right: 31px;
}
.pagination__pages a:not(.active):hover{
    opacity: 0.6;
}
.pagination__pages a:not(.active):active{
    opacity: 1;
}
.pagination__back:hover,
.pagination__forward:hover{
    background-color: #d8d8d8;
}
.pagination__back:active,
.pagination__forward:active{
    background-color: #d8d8d8;
    opacity: 0.3;
}
/* форма фильтр */
.form-filter{
    padding-left: 61px;
}
.legend-title{
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
}
.form-price__range{
    position: relative;
}
.filter__title{
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.91px;
    background-color: #dbdbdb;
    padding-top: 24px;
    padding-bottom: 22px;
    padding-left: 61px;
    margin: 0;
    margin-bottom: 77px;
}
.form-fieldset{
    position: relative;
    border:none;
    margin: 0;
    padding: 0;
    min-height: 110px;
    margin-bottom: 30px;
}
.form-fieldset::before{
    position: absolute;
    content: "";
    top:-10px;
    width: 201px;
    height: 2px;
    background-color: #000;
}
.form-fieldset--color{
    margin-bottom: 42px;
}
.filter__range{
    position: absolute;
    width: 201px;
    height: 2px;
    background: linear-gradient(to right,#91c92f 110px, #dbdbdb 110px);
    top:60px;
}
.label-range{
    position: relative;
}
.label-range::before{
    position: absolute;
    z-index: 1;
    content: "";
    top:27px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b1b1b1;
    box-shadow: inset 0 0 0 8px #fff,
                0 2px 2px 0 #dcdcdc;
}
.label-range::after{
    position: absolute;
    z-index: 1;
    content: "";
    top:27px;
    left: 106px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b1b1b1;
    box-shadow: inset 0 0 0 8px #fff,
                0 2px 2px 0 #dcdcdc;
}
.price-from,
.price-to{
    position: absolute;
    top:72px;
    opacity: 0.2;
    color: #000000;
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.price-from{
    margin-right: 10px;
}
.price-to{
    left:90px;
}
.form-fieldset__label{
    position: relative;
}
.form-fieldset__label::before{
    position: absolute;
    content: "";
    left: -40px;
    top:50%;
    transform:translateY(-50%);
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-off.svg") no-repeat;
}
.form-input:checked + .form-fieldset__label::before{
    background: url("../img/checkbox-on.svg") no-repeat;
}
.form-fieldset__label--radio::before{
    width: 25px;
    height: 25px;
    background: url("../img/radio-off.svg") no-repeat;
}
.form-input:checked + .form-fieldset__label--radio::before{
    background: url("../img/radio-on.svg") no-repeat;
}
.device-props{
    list-style: none;
    padding-left: 38px;
    margin-top: 20px;
}
.device-props__item{
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.14px;
}
/* карта */
.map-modal{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 960px;
    height: 559px;
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}
.modal-close{
    position: absolute;
    top:22px;
    right: 22px;
    width: 55px;
    height: 55px;
    opacity: 0.5;
    background: url("../img/modal-close.svg") no-repeat;
    cursor: pointer;
}
.map-modal iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.writeus-modal{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 960px;
    min-height: 553px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}
.writeus-form{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 93px;
    padding-right: 100px;
    padding-left: 100px;
}
.writeus-form__message{
    flex-basis: 100%;
    margin-bottom: 37px;
}
.writeus-form__label{
    display: block;
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 7px;
}
.writeus-form__label--textarea{
    letter-spacing: 0.2px;
}
.writeus-form__input{
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding:16px 5px 16px 20px;
    background-color: #f2f2f2;
    width: 360px;
    border:none;
    margin-bottom: 34px;
}
.writeus-form__input::placeholder{
    opacity: 0.4;
}
.writeus-form__message textarea{
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    min-height: 156px;
    border: none;
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-left: 20px;
}
.writeus-form__message textarea::placeholder{
    opacity: 0.4;
}
.modal-error{
    animation-name: modal-error;
    animation-duration:0.5s;
}
.modal-appearance{
    animation-name: appearance;
    animation-duration: 1s;
}




.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.hidden{
    display: none;
}
.invisible{
    opacity: 0;
}